__pycache__/
*.py[cod]
*$py.class

*.so

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

pip-log.txt
pip-delete-this-directory.txt

.tox/
.nox/
.coverage
.coverage.*
htmlcov/
cover/

.python-version

env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/


.vscode/


.idea/


.DS_Store


Thumbs.db


*~
*.swp
.directory
