anyio==4.14.2
asgiref==3.11.1
attrs==26.1.0
autobahn==24.4.2
Automat==25.4.16
cbor2==6.1.2
certifi==2026.7.22
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.5.1
click==8.4.2
cloudinary==1.46.0
constantly==23.10.4
cryptography==49.0.0
daphne==4.2.2
dj-database-url==3.1.2
Django==5.2.17
django-cloudinary-storage==0.3.0
gunicorn==26.1.0
h11==0.16.0
httptools==0.8.0
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
msgpack==1.2.1
packaging==26.2
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
pycparser==3.0
pyOpenSSL==26.3.0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
service-identity==26.1.0
six==1.17.0
sqlparse==0.5.5
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.15.0
tzdata==2026.3
ujson==5.13.0
urllib3==2.7.0
uvicorn==0.52.4
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.0.1
whitenoise==6.12.0
zope.interface==8.5
