<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D20HUB</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/ficha.css' %}?v=1.1">
  <script src="{% static 'js/scripts.js' %}?v=1.0" defer></script>
  <script>
    const csrftoken = '{{ csrf_token }}';
  </script>
</head>

<body>
<div class="sheet">
<div style="margin-bottom: 10px; text-align: center;">
  <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/fichas/90/ficha">Ficha</a>
  <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/fichas/90/pericias">Pericias</a>
  <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/fichas/90/habilidades">Habilidades</a>
  <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/fichas/90/inventario">Inventário</a>
  <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/fichas/90/detalhes">Detalhes</a>
</div>

<div class="top">
  <div class="image-wrapper">
    <img src="img/Aguiar.jpg" data-save="pfp" class="photo" id="charImage">
    <input type="file" id="imageInput" accept="image/*" hidden>
  </div>

  <div class="info">
    <div class="name-row">
      <input class="editable name" disabled placeholder="Nome do personagem" data-save="nome">

      <button class="edit-icon" id="editBtn"> <!-- onclick="toggleEdit()" -->
        <i class="bi bi-pencil-square"></i>
      </button>
    </div>

    <div class="level">
      <span title="Nex">Nex</span><input class="editable" disabled placeholder="40" data-save="Nex" style="width: 30px;">% &nbsp&nbsp&nbsp&nbsp
      Classe:<input class="editable" disabled style="width:80px; font-size: 14px; text-align: left;" placeholder="Combatente" data-save="classe">
        
    </div>
    <div class="level">
      Trilha:<input class="editable" disabled style="width:80px; font-size: 14px; text-align: left;" placeholder="Aniquilador" data-save="Trilha">
      Origem:<input class="editable" disabled style="width:89px; font-size: 14px; text-align: left;" placeholder="Acadêmico" data-save="origem">
    </div>
  </div>
</div>


<div class="section">
  <div>
    <table width="100%">
      <th class="list" width="40%" title="Nome da perícia">Perícia</th>
      <th class="list" width="20%" title="Atributo base da perícia, jogue uma quantidade de dados igual seu valor do atributo e pegue o maior">Dados</th>
      <th class="list" width="20%" title="Bônus total que será somado ao dado que você tirou, Bônus = Treino + Bônus de itens">Bônus</th>
      <th class="listend" width="20%" title="O valor base que seu personagem soma ao rolar testes de pericia, varia entre 5, 10 e 15">Treino</th>
    </table>  

  </div>
  <div class="attacks" id="attacks">
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Acrobacia"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Adestramento"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Artes"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Atletismo"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Atualidades"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Ciências"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Crime"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Diplomacia"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Enganação"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Fortitude"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Furtividade"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Iniciativa"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Intimidação"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Intuição"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Investigação"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Luta"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Medicina"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Ocultismo"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Percepção"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Pilotagem"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Pontaria"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Profissão ()"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Reflexos"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Religião"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Sobrevivência"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Tática"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Tecnologia"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>
    <div class="attack">
    <table width="100%">
      <td class="list" width="40%"><input class="editable" style="text-align: left;" disabled value="Vontade"></td>
      <td class="list" width="20%"><input class="editable" disabled value="1"></td>
      <td class="list" width="20%"><input class="editable" disabled value="0"></td>
      <td class="listend" width="20%"><input class="editable" disabled value="0"></td>
    </table>
    <button>Remover</button> <!-- onclick="this.parentElement.remove()" -->
    </div>   
  </div>
  <button class="edit-btn">Adicionar Perícia</button> <!-- onclick="addExpertise()" -->
</div>

</div>

</body>
</html>
