<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'img/d20hub.ico' %}">
  <title>D20HUB</title>
  <link rel="stylesheet" href="{% static 'css/ficha.css' %}?v=1.0">
  <script src="{% static 'js/ficha.js' %}?v=1.1" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <script>
    window.csrftoken = '{{ csrf_token }}';
  </script>
</head>

<body>
<div class="sheet" data-id="{{ ficha.id }}">
  <header>
    <div style="margin-bottom: 10px; text-align: center;">
      <a class="btn btn-outline-primary" href="{% url 'fichas:ler' ficha.id 'ficha' %}">Ficha</a>
      <a class="btn btn-outline-primary" href="{% url 'fichas:ler' ficha.id 'pericias' %}">Pericias</a>
      <a class="btn btn-outline-primary" href="{% url 'fichas:ler' ficha.id 'habilidades' %}">Habilidades</a>
      <a class="btn btn-outline-primary" href="{% url 'fichas:ler' ficha.id 'inventario' %}">Inventário</a>
      <a class="btn btn-outline-primary" href="{% url 'fichas:ler' ficha.id 'detalhes' %}">Detalhes</a>
    </div>
    <div class="top">
      <div class="image-wrapper">
        <img src="{{ ficha.foto_personagem.url }}" data-save="foto_personagem" class="photo" id="charImage" alt="Foto do personagem">
        <input type="file" id="imageInput" accept="image/*" hidden data-save="foto_personagem" class="foto">
      </div>
      <div class="info">
        <div class="name-row">
          <input class="editable name" disabled value="{{ ficha.personagem }}" data-save="personagem">
          <button class="edit-icon" id="editBtn" onclick="editar()">
            <i class="bi bi-pencil-square"></i>
          </button>
        </div>
        <div class="level">
          <span title="Nex">Nex</span><input class="editable" disabled value="{{ ficha.nex }}" data-save="nex" style="width: 30px;">% &nbsp&nbsp&nbsp&nbsp
          Classe:<input class="editable" disabled style="width:80px; font-size: 14px; text-align: left;" value="{{ ficha.classe }}" data-save="classe">    
        </div>
        <div class="level">
          Trilha:<input class="editable" disabled style="width:80px; font-size: 14px; text-align: left;" value="{{ ficha.trilha }}" data-save="trilha">
          Origem:<input class="editable" disabled style="width:89px; font-size: 14px; text-align: left;" value="{{ ficha.origem }}" data-save="origem">
        </div>
      </div>
    </div>
  </header>

  <div class="section">
    <div>
      <table width="100%">
        <th class="list" width="40%" title="Nome da perícia">Perícia</th>
        <th class="list" width="20%" title="Atributo base da perícia, jogue uma quantidade de dados igual seu valor do atributo e pegue o maior">Dados</th>
        <th class="list" width="20%" title="Bônus total que será somado ao dado que você tirou, Bônus = Treino + Bônus de itens">Bônus</th>
        <th class="listend" width="20%" title="O valor base que seu personagem soma ao rolar testes de pericia, varia entre 5, 10 e 15">Treino</th>
      </table>  
    </div>

    <div class="attacks" id="attacks">
        {% for pericia in ficha.pericias.all %} 
          <div class="attack">
            <table width="100%">
              <td class="list" width="40%"><input id="nome.{{ pericia.id }}" class="editable pericia" style="text-align: left;" disabled value="{{ pericia.nome }}" data-save="nome" data-pericia-id="{{ pericia.id }}"></td>
              <td class="list" width="20%"><input id="dados.{{ pericia.id }}" class="editable pericia" disabled value="{{pericia.dados}}" data-save="dados" data-pericia-id="{{ pericia.id }}"></td>
              <td class="list" width="20%"><input  id="bonus.{{ pericia.id }}" class="editable pericia" disabled value="{{pericia.bonus}}" data-save="bonus" data-pericia-id="{{ pericia.id }}"></td>
              <td class="listend" width="20%"><input id="treinamento.{{ pericia.id }}" class="editable pericia" disabled value="{{pericia.treinamento}}" data-save="treinamento" data-pericia-id="{{ pericia.id }}"></td>
            </table>
            <button data-pericia-id="{{ pericia.id }}" onclick="remover('pericia', '{{ pericia.id }}')">Remover</button>
          </div> 
        {% endfor %}
    </div>
    <button class="edit-btn" onclick="adicionar('pericia')">Adicionar Perícia</button>
  </div>
</div>


