<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'img/d20hub.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--bootstrap javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/sala_rpg.css' %}?v=1.1">
    <script>
        const selecionarFichaUrl = "{% url 'sessoes:selecionar_ficha' %}";
        window.csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/sala_rpg.js' %}?v=9999.22" defer></script>
    <title>Sala</title>
</head>
<body>
    <div class="toolbar">
        <a href="{% url 'sessoes:entrar_sala' %}" id="retornar">Retornar</a>
        <h1>Mesa de RPG: {{ sala.codigo }}</h1>
    </div>
    <input type="hidden" id="codigo-sala" value="{{ sala.codigo }}">
    <div id="conteudo">
        <div id="fichas">
            <button type="button" class="edit-btn" onclick="adicionarFicha()">Adicionar Ficha</button>
        </div>
        <div id="chat">
            <div id="mensagens"></div>
            <form id="form" autocomplete="off">
                <input type="text" name="mensagem" id="mensagem" placeholder="Digite sua mensagem...">
            </form>
        </div>
    </div>

    <script>
        window.fichasSessao = [
            {% for ficha_sessao in fichas_sessao %}
                {{ ficha_sessao.ficha.id }},
            {% endfor %}
        ];
    </script>
</body>
</html>