<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/d20hub.ico' %}">
</head>
<body>
    <h1>Menu</h1>
    <p>Olá, {{ usuario }}! Seja bem vindo.</p>
    <fieldset>
        <p><a href="{% url 'core:listar_usuarios' %}">Ver usuários cadastrados</a></p>
        <p><a href="{% url 'fichas:home' %}" target="_blank">Abrir Ficha RPG D20</a></p>
        <p><a href="{% url 'contas:logout' %}">Sair</a></p>
    </fieldset>
</body>
</html>