<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/d20hub.ico' %}">
    <title>D20HUB</title>

  <!--bootstrap css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  
  <!--bootstrap icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <!--arquivo css-->
  <link rel="stylesheet" href="{% static 'css/ficha.css' %}?v=1.1">

  <!--bootstrap javascript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  <!--javascript ficha-->
  <script src="{% static 'js/ficha.js' %}?v=1.10" defer></script>
  
    <script>
        window.csrftoken = '{{ csrf_token }}';
    </script>
</head>
<body>
    <div class="toolbar">
        <h2 id="contadorFichas">Fichas: 0/15</h2>
        <div class="botoesToolbar">
            <!-- <p><a href="{% url 'core:home' %}">Retornar</a></p> -->
            <button class="novaficha" id="limparFichas">Limpar fichas</button>
            <button class="novaficha" id="criarFicha">Criar ficha</button>
        </div>
    </div>

    <div id="fichasContainer">

    </div>
    
</body>
</html>